:root {
    --fond: #F1F1D3;
    --bubulles: #E3EBD0;
    --texte: rgb(52, 161, 158);
    --blanc: #ffffff;
    --gris-texte: #444;
    --bouton : #64ac35;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1D3;
    display: flex;
    margin: 0; 
    padding: 0; 
    height: 100vh; 
}


.cv-container {
    background: var(--blanc);
    width: 100%; 
    height: 100vh; 
    max-width: none; 
    max-height: none;
    display: grid;
    grid-template-columns: 1fr 3fr; 
    box-shadow: none;
}


.sidebar {
    background-color: var(--fond);
    color: rgb(52, 161, 158);
    padding: 40px;
    text-align: center;
    overflow-y: auto; 
}

.profile-img img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid var(--bubulles);
    margin-bottom: 20px;
}

.download-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 20px;
    background-color: var(--bouton);
    color: var(--fond);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.download-btn:hover {
    transform: scale(1.05);
    background-color: rgb(51, 122, 61);
}

/* Contenu */
.main-content {
    padding: 40px;
    overflow: auto;
    border-radius: 20px;
}

h2 {
    color: var(--texte);
    border-bottom: 2px solid var(--bubulles);
    padding-bottom: 10px;
    margin-top: 30px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

ul li {
    background: var(--bubulles);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    color: var(--texte);
}

.social-links a {
    color: rgb(127, 216, 212);
    margin: 0 10px;
    text-decoration: underline;
}