
* {
    box-sizing: border-box;
}

:root {
    --fond: #F1F1D3;
    --bubulles: #E3EBD0;
    --texte: rgb(52, 161, 158);
    --blanc: #ffffff;
    --gris-texte: #444;
    --bouton : #64ac35;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F1F1D3;
    margin: 0; 
    padding: 0; 
    min-height: 100vh;
    display: flex;
    justify-content: center; 
}

.cv-container {
    background: var(--blanc);
    width: 100%; 
    max-width: 1400px; 
    height: 100vh; 
    display: grid;
    grid-template-columns: 300px 1fr; 
    box-shadow: 0 0 20px rgba(0,0,0,0.1); 
}

.sidebar {
    background-color: var(--fond);
    color: rgb(52, 161, 158);
    padding: 40px;
    text-align: center;
    overflow-y: auto; 
}

.profile-img img {
    width: 120px;
    height: 120px;
    object-fit: cover; 
    border-radius: 50%;
    border: 5px solid var(--bubulles);
    margin-bottom: 20px;
}

.download-btn {
    display: inline-block;
    margin-top: 30px;
    padding: 12px 20px;
    background-color: var(--bouton);
    color: var(--fond);
    text-decoration: none;
    border-radius: 50px;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.download-btn:hover {
    transform: scale(1.05);
    background-color: rgb(51, 122, 61);
}


.main-content {
    padding: 40px;
    overflow-y: auto; 
}

h2 {
    color: var(--texte);
    border-bottom: 2px solid var(--bubulles);
    padding-bottom: 10px;
    margin-top: 30px;
}

ul {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
    padding: 0;
}

ul li {
    background: var(--bubulles);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    color: var(--texte);
}

.social-links a {
    color: rgb(127, 216, 212);
    margin: 0 10px;
    text-decoration: underline;
}


@media (max-width: 768px) {
    .cv-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto; 
        height: auto; 
        min-height: 100vh;
    }

    .sidebar, .main-content {
        overflow-y: visible;
        height: auto;
    }


    .sidebar {
        padding: 30px 20px; 
    }

    .main-content {
        padding: 20px;
        border-radius: 20px 20px 0 0; 
        background: var(--blanc);
        margin-top: -20px;
    }

    .profile-img img {
        width: 100px;
        height: 100px;
    }

    h2 {
        font-size: 1.2rem; 
        margin-top: 20px;
    }
}
